/* Styles for the Landing Page Module */
#landing-page-app {
  max-width: 640px;
}

#landing-page-app .content {
  margin: 0.5em 0;
}

#landing-page-app .controls {
  display: flex;
  justify-content: space-between;
}

#landing-page-app button {
  flex: 1 1 auto;
  margin: 0 0.25em;
}

#landing-page-app textarea {
  width: 100%;
}
